h1,
h2,
h3,
p,
div,
section,
article,
nav,
ul,
li,
body {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}


.page-top {
    padding: 31px 320px 0;
    background: #F2E9D8;
}

@media (max-width:360px) {
    .page-top {
        background: #F2E9D8;
    }
}


.page-middle {
    padding: 80px 320px 0;
}

.page-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-down {
    padding: 15px 30px;
    background: #D97652;
    border-radius: 40px;
    color: #fff;
}

.btn-learn {
    display: inline-block;
    padding: 15px 30px;
    background: #D97652;
    border-radius: 40px;
    color: #fff;
}

.btn-sub {
    padding: 15px 30px;
    background: #D97652;
    border-radius: 60px;
    color: #fff;
}


.page-front {
    display: flex;
    align-items: center;
    gap: 128px;
    margin-top: 51px;
}

@media (min-width:361px) {
    .page-front {
        display: flex;
        align-items: center;
        margin-top: 51px;
        gap: 128px;
    }
}


@media (max-width: 360px) {
    .page-front {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
    }
}




.page-front h2:nth-child(2) {
    margin-bottom: 40px;
}

.page-front h2 {
    font-size: 48px;
}

.front-explain {
    margin-right: 40%;
    margin-bottom: 40px;
}


.page-center {
    display: flex;
    align-items: center;
}

.page-center img,
.middle-img img {
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}

.center-title {
    padding: 0 0 0 110px;
    flex-shrink: 0;
}

.center-title h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.center-text {
    text-align: center;
}

.middle-text {
    margin-top: 120px;
}

.center-text{
    margin-bottom: 88px;
}
.center-text h2 {
    margin-bottom: 30px;
    font-size: 48px;
    color: #D97652;
}

.center-text strong {
    font-weight: normal;
    color: #D97652;
}


.middle-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

.middle-img img {
    border-radius: 30px;
}

.center-bottom {
    padding: 90px 0 90px 180px;
    display: flex;
    gap: 52px;
}

.page-article {
    display: flex;
    padding: 50px 58px;
    background: #263140;
    border-radius: 30px;
    position: relative;
    margin-bottom: -100px;
}

.page-article div {
    color: #fff;
}

.page-article h2 {
    margin-bottom: 18px;
}

.bottom-form {
    border-radius: 60px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 120px;
}

.bottom-form input {
    border-radius: 60px;
    border: 0;
    background: url(./mail.png) no-repeat 0 center;
    flex-grow: 1;
    padding-left: 30px;
}




.footer-banner {
    padding: 31px 320px;
    display: flex;
    justify-content: space-between;
}

.footer-img img {
    display: inline-block;
    width: 100%;
    height: 360px;
}





